*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main01{
    background-color: #f2f29f;
    width: 100%;
    height: 100vh;
 
}
h1{
    background-color: #444444;
    color: #f0f0f0f0;
    text-align: center;
}
#inputs-box #inputs{
    width: 50%;
    display: flex;
flex-direction:column ;
    padding: 2%;
    margin-top: 2%;
    border: solid 1px #a4a406;
 
    margin-left: 55%;
}
input{
    background-color: #efeb77;
    border: none;
    padding: 1%;
}
#inputs-box{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    max-width: 50%;
 margin-top: 2%;
}
#butons{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}
button{
    background-color: #ffff00;
    padding: 2%;
    border-radius: 80px;
    margin-left: 20%;

}
#main03, #main04, #main02{
    display: none;
}
#main02{
    background-color: #f2f29f;
    width: 100%;
    height: 120vh;
   
}
#main03{
    background-color: #f2f29f;
    width: 100%;
    height: 120vh;
}
#main04{
    background-color: #f2f29f;
    width: 100%;
    height: 120vh;
}
#back{
    margin-left: 20%;
}
#result-div, #result-man-div, #result-woman-div{
   border: solid 1px #a4a406;
    padding: 2%;
    margin-top: 2%;
    border-radius: 8px;
    width: 30%;
}
#success{
    color: green;
    text-align: center;
}
#error{
    color: red;
    text-align: center;
}

